.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{

    border-radius: 20px;
    background-color: white;
    width : 310px;
    font-family: fantasy;

  
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px
}


 .menu{ display: flex; 
    justify-content: space-between; 
    background-color:#000000; 
    padding: 15px; 
     font-size: 20px; 
     font-family: sans-serif; 
     font-weight: 400; 
     color: #ffffff; }


h1{
    text-align: center;
    border: 10px solid black;
    border-color: red;
}     

body{
    background-color: blanchedalmond;
    
}